MONGO_URI=mongodb+srv://rupeshrana1213_db_user:4CzTy1qHmRrRythD@cluster0.bwunpwp.mongodb.net/?appName=Cluster0
PORT=5000
# JWT Secret Key (used for authentication)
JWT_SECRET=your_jwt_secret_here

# Gmail Credentials (for sending emails)
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_app_password_here

# Stripe Secret Key (for payments)
STRIPE_SECRET_KEY=your_stripe_secret_key_here